* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Disable blue highlight on button click */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: #ececec;
  font-family: "Inter", sans-serif;
  /* max-width: 1080px; */
  margin: 0 auto;
  background-color: #08090B;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(1px);
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.cta1 {
  color: white;
  background-color: #ffffff0d;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 20px;
  border-color: transparent;
  border: none;
}

.cta2 {
  color: white;
  background-color: #ffffff00;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 20px;
  border: 1px solid #ffffff29;
}

.bg-image-hero {
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  -webkit-mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
  mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
}

.main-cta {
  color: white;
  text-decoration: none;
  background-color: #ffffff20;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ffffff29;
  margin: 40px 0;
}

.main-headline {
  color: white;
  font-size: 50px;
  margin: 20px 0;
}

.description {
  color: white;
}

form {
  display: flex;
  background-color: #ffffff20;
  padding: 5px 3px;
  border-radius: 20px;
  border: 1px solid #ffffff29;
  margin: 40px 0;
  align-items: center;
}

.email {
  background-color: #ffffff00;
  border: none;
  width: 300px;
  padding: 4px;
}

.email::placeholder {
  color: #ececec;

}

.btn-start {
  padding: 6px 12px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.logos {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.logos img {
  width: 100px;
}
